<table width = "60%" border = 1>
<tr>
    <th>Количество отрезков </th>
    <th><%= @count_of_segments %></th>
</tr>
<tr>
    <th>Отрезок с максимальной длиной</th>
    <th><%= @max_segment %></th>
</tr>
<tr>
    <th>Все отрезки</th>
    <th><%= @segments %></th>
</tr>
</table>
<%= link_to "Вернуться на страницу ввода значений", :lr8_input %>