<h1>Подсчет палиндромов </h1>
<%= form_tag(laba9_calculate_path, method: 'get', remote: true) do %>
  <label for="n">Введите n: </label>
  <%= text_field_tag :n %>
  <%= submit_tag 'Рассчитать' %>
<% end %>
