<body>
    <header>
        <p>Дорохов Ростислав Вячеславович ИУ6-33Б Вариант 11</p>
        <p>Дан массив чисел arr_r. Определить сумму нечетных чисел массива и поместить её вместо последнего элемента массива, индекс которого делился на 3 без остатка.</p>
    </header>
    <main>
        <p>Количество отрезков: <%= @count_of_segments %> </p>

        <p>Отрезок с максимальной длиной: <%= @max_segment %> </p> 

        <p>Все отрезки: <%= @segments %></p>
        <%= link_to "Вернуться на страницу ввода значений", :rk2_input %>
    </main>
</body>